MatixGame/MatixGameClient/Service References/MatixGameServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" />
  <xs:element name="UserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="userData" nillable="true" type="q1:UserInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UserRegistrationResult" nillable="true" type="q2:RegistrationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="userData" nillable="true" type="q3:UserInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UpdateUserDetailesResult" type="q4:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="loginData" nillable="true" type="q5:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UserLoginResult" nillable="true" type="q6:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="excludedEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="GetWaitingPlayersResult" nillable="true" type="q7:WaitingPlayerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayerToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayerToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SelectPlayerToPlayResult" type="q8:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRobotToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRobotToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SelectRobotToPlayResult" type="q9:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="col" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SetGameActionResult" type="q10:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerOfNewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="horizontalEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="horizontalNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verticalNickname" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="matixBoard" nillable="true" type="q11:MatixBoard" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="whoIsStarting" type="q12:GameTurnTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerOfNewGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWaitingPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWaitingPlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitTheGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWaitingPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="waitingPlayers" nillable="true" type="q13:WaitingPlayerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatixBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="matixBoard" nillable="true" type="q14:MatixBoard" />
        <xs:element minOccurs="0" name="horizontalNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verticalNickName" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="whoIsStarting" type="q15:GameTurnTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="col" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winnerNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>