MatixGame/MatixGameClient/Service References/MatixGameServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" />
  <xs:element name="UserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="userData" nillable="true" type="q1:UserInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UserRegistrationResult" nillable="true" type="q2:RegistrationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="userData" nillable="true" type="q3:UserInformationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UpdateUserDetailesResult" type="q4:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPawwsord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="ChangeUserPasswordResult" type="q5:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="loginData" nillable="true" type="q6:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UserLoginResult" nillable="true" type="q7:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="UserLogoutResult" type="q8:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="excludedEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWaitingPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="GetWaitingPlayersResult" nillable="true" type="q9:WaitingPlayerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayerToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPlayerToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SelectPlayerToPlayResult" type="q10:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRobotToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRobotToPlayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SelectRobotToPlayResult" type="q11:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="col" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGameActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="SetGameActionResult" type="q12:OperationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWaitingPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWaitingPlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="GetPlayerStatisticsResult" nillable="true" type="q13:PlayerStatisticsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitTheGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuitTheGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWaitingPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="waitingPlayers" nillable="true" type="q14:WaitingPlayerResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartingNewGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="matixBoard" nillable="true" type="q15:MatixBoard" />
        <xs:element minOccurs="0" name="horizontalNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verticalNickName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" minOccurs="0" name="whoIsStarting" type="q16:GameTurnTypeEnum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="row" type="xs:int" />
        <xs:element minOccurs="0" name="column" type="xs:int" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winnerNickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="score" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>