MatixGame/MatixGameClient/Service References/MatixGameServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MatixWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="TcpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfMatixServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatixService_UserRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:UserRegistration" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UserRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UpdateUserDetailes_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailes" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UpdateUserDetailes_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserDetailesResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IMatixService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UserLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogout" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UserLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_GetWaitingPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingPlayers" />
  </wsdl:message>
  <wsdl:message name="IMatixService_GetWaitingPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWaitingPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SelectPlayerToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPlayerToPlay" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SelectPlayerToPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPlayerToPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SelectRobotToPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectRobotToPlay" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SelectRobotToPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectRobotToPlayResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SetGameAction_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGameAction" />
  </wsdl:message>
  <wsdl:message name="IMatixService_SetGameAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGameActionResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_RemoveFromWaitingPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromWaitingPlayers" />
  </wsdl:message>
  <wsdl:message name="IMatixService_RemoveFromWaitingPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFromWaitingPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_GetPlayerStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatistics" />
  </wsdl:message>
  <wsdl:message name="IMatixService_GetPlayerStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_QuitTheGame_InputMessage">
    <wsdl:part name="parameters" element="tns:QuitTheGame" />
  </wsdl:message>
  <wsdl:message name="IMatixService_QuitTheGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuitTheGameResponse" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UpdateWaitingPlayer_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateWaitingPlayer" />
  </wsdl:message>
  <wsdl:message name="IMatixService_StartingNewGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartingNewGame" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UpdateGameAction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameAction" />
  </wsdl:message>
  <wsdl:message name="IMatixService_UpdateGameEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UpdateGameEnded" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMatixService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/UserRegistration" message="tns:IMatixService_UserRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UserRegistrationResponse" message="tns:IMatixService_UserRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateUserDetailes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/UpdateUserDetailes" message="tns:IMatixService_UpdateUserDetailes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UpdateUserDetailesResponse" message="tns:IMatixService_UpdateUserDetailes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/ChangeUserPassword" message="tns:IMatixService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/ChangeUserPasswordResponse" message="tns:IMatixService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/UserLogin" message="tns:IMatixService_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UserLoginResponse" message="tns:IMatixService_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UserLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/UserLogout" message="tns:IMatixService_UserLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UserLogoutResponse" message="tns:IMatixService_UserLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetWaitingPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/GetWaitingPlayers" message="tns:IMatixService_GetWaitingPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/GetWaitingPlayersResponse" message="tns:IMatixService_GetWaitingPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SelectPlayerToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/SelectPlayerToPlay" message="tns:IMatixService_SelectPlayerToPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/SelectPlayerToPlayResponse" message="tns:IMatixService_SelectPlayerToPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SelectRobotToPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/SelectRobotToPlay" message="tns:IMatixService_SelectRobotToPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/SelectRobotToPlayResponse" message="tns:IMatixService_SelectRobotToPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetGameAction">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/SetGameAction" message="tns:IMatixService_SetGameAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/SetGameActionResponse" message="tns:IMatixService_SetGameAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveFromWaitingPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/RemoveFromWaitingPlayers" message="tns:IMatixService_RemoveFromWaitingPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/RemoveFromWaitingPlayersResponse" message="tns:IMatixService_RemoveFromWaitingPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPlayerStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/GetPlayerStatistics" message="tns:IMatixService_GetPlayerStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/GetPlayerStatisticsResponse" message="tns:IMatixService_GetPlayerStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="QuitTheGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatixService/QuitTheGame" message="tns:IMatixService_QuitTheGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/QuitTheGameResponse" message="tns:IMatixService_QuitTheGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateWaitingPlayer">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UpdateWaitingPlayer" message="tns:IMatixService_UpdateWaitingPlayer_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartingNewGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/StartingNewGame" message="tns:IMatixService_StartingNewGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateGameAction">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UpdateGameAction" message="tns:IMatixService_UpdateGameAction_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateGameEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatixService/UpdateGameEnded" message="tns:IMatixService_UpdateGameEnded_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TcpBinding" type="tns:IMatixService">
    <wsp:PolicyReference URI="#TcpBinding_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UserRegistration">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UserRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserDetailes">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UpdateUserDetailes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogout">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UserLogout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWaitingPlayers">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/GetWaitingPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPlayerToPlay">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/SelectPlayerToPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRobotToPlay">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/SelectRobotToPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGameAction">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/SetGameAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromWaitingPlayers">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/RemoveFromWaitingPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerStatistics">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/GetPlayerStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuitTheGame">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/QuitTheGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWaitingPlayer">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UpdateWaitingPlayer" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartingNewGame">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/StartingNewGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameAction">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UpdateGameAction" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGameEnded">
      <soap12:operation soapAction="http://tempuri.org/IMatixService/UpdateGameEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatixWcfService">
    <wsdl:port name="TcpBinding" binding="tns:TcpBinding">
      <soap12:address location="net.tcp://orenf:23370/MatixWcfService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://orenf:23370/MatixWcfService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>OrenF</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>